<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {font-family: "Lato", sans-serif}
      .mySlides {display: none}
    </style>
  </head>

	<body>
	  <!-- Navbar -->
	  <div class="w3-top">
		  <div class="w3-bar w3-black w3-card">
			  <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
			  <a href="#" class="w3-bar-item w3-button w3-padding-large">Home</a>
			  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About Me</a>
			  <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hide-small">My Projects</a>
			  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact Me</a>
      </div>
    </div>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

      <!-- Automatic Slideshow Images -->
      <div class="mySlides w3-display-container w3-center">
        <img src="./resources/title.webp" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
          <h3>I'm Gage Atkinson</h3>
          <p><b>And I'm a Software Developer/Penetration Tester</b></p>   
        </div>
      </div>

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
      <h2 class="w3-wide">About Me</h2>
			<p class="w3-justify">I live in Syracuse, Ny. Some of my hobbys are programming, cyber security, and learning how computers work. I like playing video game like Doom, Counter-Strike and Postal. I know a variety of programming languages such as python, javascript, java, c, php, and more. I really like learning about exploits and how they work and what you can do to prevent them.</p><br>
			<iframe src="./slideshow/slideshow.html"></iframe>
      <div class="w3-row w3-padding-32">
      </div>
    </div>

    <div class="w3-black" id="projects">
      <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">My Projects</h2>

        <ul class="w3-ul w3-border w3-white w3-text-grey">
          <li class="w3-padding">This Website</li>
					<li class="w3-padding">Snake Game in html and javascript</li>
          <li class="w3-padding">A online chat app in php</li>
					<li class="w3-padding">Twitter sentiment analysis in python</li>
					<li class="w3-padding">Predicting the stock market using machine learning in python</li>
					<li class="w3-padding">A simple operating system in C</li>
        </ul>
        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        </div>
      </div>
    </div>

    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">Contact Me</h2>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Syracuse, NY<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +1 (315)-800-2648<br>
					<i class="fa fa-envelope" style="width:30px"> </i> Email: someStrager87@gmail.com<br>
					Github: <a href="https://github.com/someStrager8">link</a><br>
					Stackshare: <a href="https://stackshare.io/someStrager8">link</a>
			  </div>
    </div>
  
    <!-- End Page Content -->
    </div>

		<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";  
			}
			myIndex++;
			if (myIndex > x.length) {myIndex = 1}    
			x[myIndex-1].style.display = "block";  
			setTimeout(carousel, 4000);    
		}

		// Used to toggle the menu on small screens when clicking on the menu button
		function myFunction() {
			var x = document.getElementById("navDemo");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
		  } else { 
				x.className = x.className.replace(" w3-show", "");
			}
		}
	</script>
	</body>
</html>
